#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 7**
###**Red Neuronal Artificial - Perceptrón Multicapa : Multilayer Perceptrón (MLP)**

**Nombres y matrículas de los integrantes del equipo:**

* Andres Javier Galindo Vargas - A01793927
* Diego Alberto Olarte Mira - A01794028
* Fredy Reyes Sanchez
* Jose Antonio Saenz Ramirez - A01793884
* Roberto Vega Alanis - A01378921

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [13]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import math #Esta libreria la usamos lara el ramsey y el Mape
from sklearn.preprocessing import QuantileTransformer #Esta libreria la usamos al graficar datos
from sklearn.preprocessing import power_transform #esta igual
 

from sklearn.datasets import make_classification

from sklearn.model_selection import train_test_split #Para hacer las particiones
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score         

from sklearn.metrics import classification_report, make_scorer
from imblearn.metrics import geometric_mean_score, classification_report_imbalanced
from sklearn.model_selection import  cross_validate,  RepeatedStratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, StandardScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
import requests, zipfile #Librerira para zip de nuestros origen de datos
from io import BytesIO
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier #Esta tambien la usamoie en el ejercicio 5e
from sklearn import svm, datasets
from sklearn.model_selection import GridSearchCV

from sklearn import tree
import matplotlib.pyplot as plt
from sklearn.model_selection import learning_curve, validation_curve
import os
from google.colab import drive

In [2]:
# se descargar el archivo del sitio  https://archive.ics.uci.edu/ml/machine-learning-databases/00522/
# se sube a la ruta a repositorio GitHub del equipo y se hace la lectura del archivo.
df= pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/IAyAA_Equipo_64/main/semana7/dataset/dataset_Facebook.csv',delimiter=';')
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

#**Ejercicio-1.**

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [3]:
# realiza el cambio a los nombres de las columna LPE
df.rename(columns = {
    'Lifetime People who have liked your Page and engaged with your post':'LPE'
}, inplace = True)
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,LPE,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

# Varibles de entrada
* Category  
* Page total likes 
* type
* Post month
* Post hour
* Post weekday
* Paid

# Varibles de salida 

* Lifetime people who have liked a page and engaged with a post

#**Ejercicio-2.**

# Seleccion de datos

In [4]:
# Valores en entrada en X y variables de salida Y
X = pd.DataFrame(df, columns=['Category','type', 'Page total likes','Post month','Post hour','Post weekday','Paid'])
y = pd.DataFrame(df, columns=['LPE'])
# Datos de validación, función trains_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.80, random_state=1)
X_train.head()
X_train.describe()

,Category,type,Page total likes,Post month,Post hour,Post weekday,Paid
count,400.000000,0.0,400.000000,0.0,0.0,0.0,399.000000
mean,1.882500,NaN,123546.367500,NaN,NaN,NaN,0.280702
std,0.851767,NaN,16218.050761,NaN,NaN,NaN,0.449906
min,1.000000,NaN,81370.000000,NaN,NaN,NaN,0.000000
25%,1.000000,NaN,112676.000000,NaN,NaN,NaN,0.000000
50%,2.000000,NaN,130791.000000,NaN,NaN,NaN,0.000000
75%,3.000000,NaN,136393.000000,NaN,NaN,NaN,1.000000
max,3.000000,NaN,139441.000000,NaN,NaN,NaN,1.000000

#**Ejercicio-3.**

In [6]:
# Funciones de metricas

import math
# función: mi_RMSE:

def mi_RMSE(y_val, yhatVal):
  MSE = np.square(np.subtract(y_val,yhatVal)).mean()
  return math.sqrt(MSE)


# función: mi_MAE:

def mi_MAE(y_val, yhatVal):
  #y_val, yhatVal = np.array(y_val), np.array(yhatVal)
  return np.mean(np.abs(y_val - yhatVal))


# función: mi_MAPE:
def mi_MAPE(y_val, yhatVal):
  return np.mean(np.abs((y_val - yhatVal)/y_val))*100

#**Ejercicio-4.**

In [7]:
# limpieza de datos 

#1. datos nulos de entrada
X_train.isnull().sum()

Category              0
type                400
Page total likes      0
Post month          400
Post hour           400
Post weekday        400
Paid                  1
dtype: int64

In [8]:
# 2. validacion de datos nulos Variable de salida
y_train.isnull().sum()

LPE    0
dtype: int64

In [10]:
# 3. Clasificacion tipos de variables 

val_cate = ['Category', 'Type']
val_num = ['Page total likes'] #Aqui recordar no poner LPE porque es la salida
val_ordi = ['Post Month', 'Post Hour','Post Weekday']
val_bina = ['Paid']

In [15]:
# 4. realizar la imputacion


pipeline_categorico = Pipeline(steps = [('imputacionModa', SimpleImputer(strategy='most_frequent')),('OneHotE', OneHotEncoder(handle_unknown="ignore"))])
pipeline_numerico = Pipeline(steps = [('imputacionMediana', SimpleImputer(strategy='median')),('scalar', MinMaxScaler(feature_range=(1,2)))])
entrada_preparada = ColumnTransformer(transformers = [('numpipe', pipeline_numerico, val_cate),
                                                        ('catohe', pipeline_categorico, np.concatenate((val_num,
                                                                                                        val_ordi, 
                                                                                                        val_bina), axis = 0))], #Why el concatenate, idont nou
                                        remainder='passthrough')

'''columnas_categoricas = ['Category', 'Type']
columnas_numericas = ['Page total likes'] #Aqui recordar no poner LPE porque es la salida
columnas_ordinales = ['Post Month', 'Post Hour','Post Weekday']
columnas_binarias = ['Paid']'''

"columnas_categoricas = ['Category', 'Type']\ncolumnas_numericas = ['Page total likes'] #Aqui recordar no poner LPE porque es la salida\ncolumnas_ordinales = ['Post Month', 'Post Hour','Post Weekday']\ncolumnas_binarias = ['Paid']"

#**Ejercicio-5.**

In [ ]:
None

#**Ejercicio-6.**

In [ ]:
None

#**Ejercicio-7.**

In [ ]:
None

#**Ejercicio-8.**

In [ ]:
None

#**Ejercicio-9.**

In [ ]:
None

#**Ejercicio-10.**

In [ ]:
None

#**Ejercicio-11.**

In [ ]:
None

#**Ejercicio-12.**

In [ ]:
None

###**Fin de la Actividad de la semana 7.**